<div class="TelaDeLoading" [style.animation] = "animacaoLoading" [style.opacity]="DesapareceLoading">
  <div>
    <ion-header style="margin-bottom: 50px">
      <ion-toolbar>
        <ion-title style="left: 30px; position:relative; top: 50%">
          <img src="./assets/favicon.png" style="position: absolute; top: 50%; transform: translate(-120%, -50%);"/> Z-Receita | {{nome}}</ion-title
        >
      </ion-toolbar>
    </ion-header>
  </div>
<div class="Container">
  <h1 style="text-align: center;">{{Loading}}</h1>
</div>
</div>

  <ion-header class="HeaderIONIC" [style.display]="teste">
    <ion-toolbar>
      <ion-button
        style="margin-bottom: 100px"
        (click)="print2()"
        title="Imprimir Receita"
        class="listForm"
        color="warning"
        expand="block"
        style="float: right"
      >
        <ion-icon name="print-outline"></ion-icon>
      </ion-button>

      <ion-button
        style="margin-bottom: 100px"
        (click)="print3()"
        title="Salvar PDF"
        class="listForm"
        color="warning"
        expand="block"
        style="float: right"
      >
        <ion-icon name="document"></ion-icon>
      </ion-button>
      
      <ion-button
        style="margin-bottom: 100px"
        title="Conversar com Cliente"
        class="listForm"
        color="warning"
        expand="block"
        style="float: right"
      >
        <a style="color: black" href="{{zap}}" target="_blank">
          <ion-icon name="logo-whatsapp" title="Conversar com Cliente"></ion-icon>
        </a>
      </ion-button>
      <ion-button
        (click)="backToAdmin()"
        title="Voltar"
        class="listForm"
        color="danger"
        expand="block"
        style="float: right"
      >
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="Cabecalho" style="left: 30px; position:relative; top: 50%; transform: translate(0%, 40%);">
        <img src="./assets/favicon.png" style="position: absolute; top: 50%; transform: translate(-120%, -50%);"/> Z-Receita | {{nome}}</ion-title
      >
      <ion-title class="CabecalhoReponse">
        <img src="./assets/favicon.png" /></ion-title
      >
    </ion-toolbar>
  </ion-header>

  <div [style.display]="teste">
  <h3 style="margin-bottom: 25px; position: relative; padding: 0px 20px;" class="TextoReponse"> Z-Receita Online <br> 
    <p style="margin: 0px; font-size: 18px;">{{nome}}</p></h3>
  </div>

  <ion-content [style.display]="teste">
    <ion-grid style="margin-bottom: 50px">
      <ion-row>
        <ion-col hidden>Id</ion-col>
        <ion-col class="Nome">Nome</ion-col>
        <ion-col class="Cpf">CPF</ion-col>
        <ion-col class="Celular">Celular</ion-col>
        <ion-col class="Data">Data</ion-col>
      </ion-row>
      <div>
        <ion-row>
          <ion-col hidden id="id" #id>{{receita.id}}</ion-col>
          <ion-col>{{ receita.nome }}</ion-col>
          <ion-col>{{ receita.cpf }}</ion-col>
          <ion-col>{{ receita.telefone }}</ion-col>
          <ion-col class="Data">{{converterLongDate(receita.dataHora)}}</ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <div style="position: relative;">
    <div class="img">
      <img class="center" *ngIf="receita.receita !=''" [src]="receita.receita" />
    </div>
      <br />
      <div class="img">
      <img
        class="center"
        *ngIf="receita.receita2 !=''"
        [src]="receita.receita2"
      />
    </div>
      <br />
      <div class="img">
        <img
         class="center"
         *ngIf="receita.receita3 !=''"
         [src]="receita.receita3"
       />
      </div>
      <br />
      <div class="img">
        <img
        class="center"
        *ngIf="receita.receita4 !=''"
        [src]="receita.receita4"
      />
      </div>
    </div>
  </ion-content>


