<div class="Loading" [style.display]="DisplayLoading" [style.animation]="LoadingAnimation">
  <img src="assets/LoadingGif.gif" alt=""> <p style="font-weight: bold; color: black;">{{LoopText}}</p>
</div>

<ion-header style="margin-bottom: 50px" [translucent]="true">
  <ion-toolbar>
    <ion-button
      (click)="backToAdmin()"
      style="float: right"
      title="Voltar"
      class="listForm"
      color="danger"
      expand="block"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title style="left: 30px; position:relative; top: 50%; transform: translate(0%, 40%);"> <img src="./assets/favicon.png" style="position: absolute; top: 50%; transform: translate(-120%, -50%);"/> Z-Receita | {{nome}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
  [(ngModel)]="procura"
  placeholder="Procurar"
  showCancelButton="focus"
    animated
  ></ion-searchbar>
  <ion-grid class="GRIMD">
    <ion-row>
      <ion-col hidden>Id</ion-col>
      <ion-col class="Nome">Nome</ion-col>
      <ion-col class="Cpf">CPF</ion-col>
      <ion-col class = "Data">Data</ion-col>
      <ion-col class="Detalhes">Detalhes</ion-col>
    </ion-row>
    <div *ngFor="let item of receitas.results | filter:procura" class="body-content">
      <ion-row>
        <ion-col hidden id="id" #id>{{item.id}}</ion-col>
        <ion-col class="Nome">{{ item.nome }}</ion-col>
        <ion-col class="Cpf">{{ item.cpf }}</ion-col>
        <ion-col class = "Data">{{converterLongDate(item.dataHora) }}</ion-col>
        <ion-col class="Detalhes">
          <ion-button
            title="Visualizar Receita"
            class="listForm"
            color="dark"
            expand="block"
            (click)="getRecId(item.id)"
            [disabled]="IsDisabled"
            style="left: 50%; position: relative; transform: translate(-50%, 0%);"
          >
            <ion-icon name="eye"></ion-icon> </ion-button
        ></ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<div class="footerContainer">
  <ion-footer class="footer2">
    <ion-toolbar >
      <ion-title style="left: 30px; position:relative; top: 50%; font-size: 15px;">
        <img src="./assets/favicon.png" style="position: absolute; top: 50%; transform: translate(-120%, -50%); height: 24px;"/> © 2022 Desenvolvido por: <a href="https://www.zipsoftware.com.br" target="_blank"> ZiP
        Software</a></ion-title
      >
    </ion-toolbar>
  </ion-footer>
</div>
